@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=DotGothic16&family=Libre+Barcode+39+Text&family=Nabla&family=Pixelify+Sans:wght@400..700&display=swap');

h1 {
    text-transform: uppercase;
    font-family: "Nabla", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 80px;
}

h2 {
    font-family: "Pixelify Sans", 'Times New Roman', Times, serif;
    font-size: 40px;
    color: hsl(46, 100%, 57%);
}

p {
    font-family: "Pixelify Sans", 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #57A6ED;
}

.japanese {
    font-family: "DotGothic16";
    font-size: 25px;
    color: hsl(0, 81%, 64%);
}

.glitching {
    font-family: "Coral Pixels";
}

.center {
 text-align: center;
}